div{
    width: 50%;
    /* RGB მოდელი ქმნის ფერებს წითელი მწვანე და ლურჯის სხვადასხვა ინტენსივობის შერწყმით თითოეული 0 დან 255მდე მერყობს   */
    background-color: rgba( 0, 89, 190)
}


p{
    color: rgb(165, 205, 132);
}

/* რესპონსიული საიტის გასაკეთბლად ყოველთვის კარგია ზომა პიქსელების მაგივრად პროცენტები გავუწეროთ რადგან სხვადასხვა ზომის ელემენტი იქნება*/
img{width: 50%;}