*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 70%;
    height: 70%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

